.component-parent {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 540px;
  font-family: "Quicksand";
  background-color: #ededed;
  margin-bottom: 150px;
}

.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;

  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.home-logo {
  width: 338px;
  height: 106px;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 63px;
}

.home-info {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 30px;
}

.home-button-group {
  display: flex;
  justify-content: center;
}

.home-button {
  width: 160px;
  height: 53px;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-size: 20px;
  font-family: "Quicksand";
  font-weight: 900;
  text-align: center;
  line-height: 53px;
  text-decoration: none;
}

.home-button:hover {
  color: white;
}

.home-button.find {
  background-color: #ff4561;
  margin-right: 15px;
}
.home-button.make {
  background-color: #1f5dff;
  margin-left: 15px;
}

.component-header {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 30px;
}

.component-parent.make {
  max-width: 450px;
}

.default-input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border-width: 0px;
  background-color: white;
  margin-top: 10px;
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: 600;
  padding-left: 22px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.default-input.search {
  width: 83%;
  max-width: 410px;
  margin-top: 0px;
}

.default-input:focus {
  outline: none !important;
  border: 1px solid #1f5dff;
  box-shadow: 0 0 5px #b4b4b4;
}

.default-button {
  background-color: #1f5dff;
  border-width: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-family: "Quicksand";
  font-weight: 900;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.default-button:hover {
  background-color: #1d58f2;
  color: #f2f4ff;
}

.default-button.make {
  margin-top: 30px;
}

.default-button.search {
  width: 22%;
  max-width: 105px;
  font-size: 18px;
  margin-left: 16px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  background-color: #c1fff0;
  color: black;
}

.overview-header {
  font-weight: 800;
  font-size: 22px;
  margin-top: 59px;
}

.overview-card {
  margin-top: 13px;
  background-color: white;
  border-radius: 10px;
  padding: 23px 23px 23px 23px;
}

.overview-row {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}

.overview-labels {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  color: #A4A4A4;
}

.pack-interactivity-info {
  margin-top: 13px;
  background-color: white;
  border-radius: 10px;
  padding: 23px 23px 23px 23px;
}

.pack-interactive-button {
  margin-top: 20px;
  border-width: 0;
  width: 100%;
  height: 42px;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}
.pack-interactive-button.join {
  background-color: #1f5dff;
  color: white;
}
.pack-interactive-button.edit {
  background-color: #ADF1FF;
  color: black;
}
.members-card {
  margin-top: 13px;
  background-color: white;
  border-radius: 10px;
  padding: 23px 23px 23px 23px;
  font-size: 16px;
  color: black;
  font-weight: 500;
}
.members-header {
  font-weight: 800;
  font-size: 22px;
  margin-top: 39px;
}
.member-index-labels {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  color: #A4A4A4;
  margin-left: 10px;
}
.member-key-labels {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  color: black;
}
.member-button {
  background-color: white;
  border-width: 0px;
  text-decoration: underline;
  font-weight: 500;
}
.submit-changes {
  margin-top: 20px;
  font-weight: 600;
  margin-left: 0px;
  margin-right: 0px;
}
.edit-pack-input {
  width: 95%;
}
.edit-label {
  height: 32px;
}
.packs-count {
  margin-bottom: 8px;
  margin-left: 7px;
}
.random-button-position {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 500;
  text-align: center;
}
.random-button {
  background-color: none;
  border-width: 0px;
  text-decoration: underline;
  font-weight: 500;
}

.random-packs {
  
}